html,body{
	width:100%;
	height:100%;
	//font-family: sans-serif;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
.container{
	display:grid;
	grid-template-columns: .7fr 1fr;
	height:100%;

	.wallpaper-container{
		height:100%;
		display:flex;
		justify-content:center;
		align-items:center;
		position:relative;
		.wallpaper{
			width:100%;
			height:100%;
			background-image: url("https://images.unsplash.com/photo-1519360076692-43a0a73128c4?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjk0NDh9&s=ee700fad5cfe0c47e14a63f97a753b1c");
			background-size: cover;
			background-position: center bottom;
			background-repeat: no-repeat;
			opacity:0.6;
			position:absolute;
			top:0px;
			left:0px;
		}
		.logo{
			width:150px;
			z-index:2;
		}
	}
	.info-container{
		height:100%;
		display:flex;
		align-items:center;
		justify-content:center;
		flex-direction: column;
		box-shadow:0 0 25px rgba(0, 0, 0, 0.4);
		.info{
			width:450px;
			font-size:14px;
			padding:10px;
		}
	}
}
@keyframes breathe {
	0% {
		opacity:0.4;
	}
	50%{
		opacity:1;
	}
	100% {
		opacity:0.4;
	}
}
@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}