.container{
	.time-container{
		z-index:1;
		display:flex;
		align-items:baseline;
		min-height:200px;
		transition:opacity 300ms;
		.time{
			z-index:inherit;
			font-size:12em;
			font-weight:400;
			text-shadow:0 0 25px rgba(0,0,0,0.4);		
		}
		.aorp{
			font-size:3em;
			font-weight:100;
			text-shadow:0 0 25px rgba(0,0,0,0.4);		
		}
		&.focus{
			position:absolute;
			bottom:10px;
			right:5px;
			min-height:0px;
			.time{
				font-size:6em;
			}
			.aorp{
				font-size:1em;
			}
		}
	}
}

@media (max-width: 850px) {
	.container{
		.time-container{
			min-height:150px;
			.time{
				z-index:inherit;
				font-size:8em;
				margin-top:0em;
			}
			.aorp{
				font-size:2em;
				font-weight:100;
			}
		}
	}
}

@media (max-width: 600px) {
	.container{
		.time-container{
			min-height:150px;
			&.focus{
				display:none;
			}
		}
	}
}

@media (max-height:520px){
	.container{
		.time-container{
			z-index:inherit;
			display:none;
		}
		 .ticker-container{
		 	display:none;
		 }
	}
}