.container{
	.time{
		z-index:inherit;
		font-size:12em;
		font-weight:400;
		margin-top:-2em;
		text-shadow:0 0 25px rgba(0,0,0,0.4);
	}
}

@media (max-width: 850px) {
	.container{
		.time{
			z-index:inherit;
			font-size:8em;
			margin-top:0em;
		}
	}
}