.search-container{
	.inner-container{
		.search-results{
			.apps-display-container{
				display:flex;
				flex-wrap:wrap;
				>.title{
					font-size:18px;
					color:black;
					font-weight:400;
					width:100%;
					padding:10px;
				}
				.result{
					flex-basis:20%;
					width: 20%;
					height:120px;
					display:flex;
					flex-direction:column;
					justify-content:center;
					align-items:center;
					padding:10px 0 10px 0;
					cursor:pointer;
					.icon-holder{
						position:relative;
						.fa{
							color:black;
							position:absolute;
							display:none;
							cursor:pointer;
							top:-10px;
							right:-10px;
							color:#b1b1b1;
						}
						.icon{
							width:64px;
							height:auto;
						}
					}
					.details-holder{
					    width: 100%;
    					text-align: center;
						.title{
							color: black;
							font-size: 14px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							height: 18px;
							max-width: 98%;
						}
					}
				}
				.result-selected{
					.details-holder{
						.title{
							color:white;
						}
					}
				}
				.result:hover{
					.icon-holder{
						.fa{
							display:block;
						}
					}
				}
			}
		}
	}
}
@media (max-width:1200px) {
	.search-container{
		.inner-container{
			.search-results{
				.apps-display-container{
					.result{
						flex-basis:25%;
						width:25%;
					}
				}
			}
		}
	}
}
@media (max-width:590px) {
	.search-container{
		.inner-container{
			.search-results{
				.apps-display-container{
					.result{
						flex-basis:33.33%;
						width:33.33%;
					}
				}
			}
		}
	}
}