.search-container{
	.inner-container{
		.search-results{
			.amazon-display-container{
				display:flex;
				flex-wrap:wrap;
				>.title{
					font-size:18px;
					color:black;
					font-weight:400;
					width:100%;
					padding:10px;
				}
				.result{
					flex-basis:25%;
					width: 25%;
					height:200px;
					display:flex;
					flex-direction:column;
					justify-content:center;
					align-items:center;
					padding:10px 0 10px 0;
					cursor:pointer;
					.image-holder{
						position:relative;
						min-width:90px;
						width:90px;
						min-height:90px;
						height:90px;
						background:white;
						.fa{
							color:black;
							position:absolute;
							display:none;
							cursor:pointer;
							top:-10px;
							right:-10px;
							color:#b1b1b1;
						}
						.image{
							width:90px;
							height:90px
						}
					}
					.details-holder{
					    width: 100%;
    					text-align: center;
						.title{
							color: black;
							font-size: 14px;
							padding: 5px;
							overflow: hidden;
							height: 36px;
							max-width: 98%;
						}
						.price{
							color:#900;
							font-size: 14px;
							height:16px;
						}
					}
				}
				.result-selected{
					.details-holder{
						.title{
							color:white;
						}
					}
				}
			}
		}
	}
}
@media (max-width:1200px) {
	.search-container{
		.inner-container{
			.search-results{
				.apps-display-container{
					.result{
						flex-basis:25%;
						width:25%;
					}
				}
			}
		}
	}
}
@media (max-width:590px) {
	.search-container{
		.inner-container{
			.search-results{
				.apps-display-container{
					.result{
						flex-basis:33.33%;
						width:33.33%;
					}
				}
			}
		}
	}
}