.search-container{
	z-index:1;
	width: 100%;
	display: flex;
	flex-direction:column;
	align-items: center;
	padding: 30px;
	.inner-container{
		width:40%;
		background:white;
		box-shadow: 0 0 25px rgba(0,0,0,0.4);
		border-radius: 0px 0px 2px 2px;
		padding:10px;
		box-sizing:border-box;
		.search-bar{
			width:100%;
			height:40px;
			font-size:18px;
			padding:10px;
			box-sizing:border-box;
			outline:none;
			border:none;
			border-radius: 2px;
		}
		.search-bar:focus{
			outline:none;
		}
		.search-results{
			width:100%;
			background:white;
			max-height:0px;
			transition: max-height 400ms;
			overflow:scroll;
			&.show{
				max-height:300px;
				transition: max-height 400ms;
			}
			.results-container{
				.result{
					padding:10px;
					color:black;
					display:flex;
					flex-direction:row;
					cursor:pointer;
					.icon-holder{
						display:flex;
						align-items:center;
					}
					.details-holder{
						padding:10px;
						.title{
							font-size:14px;
						}
						.url{
							font-size:8px;
							color:#A3A3A3;
						}
					}
				}
			}
		}
	}
}


@media (max-width: 1400px) {
	.search-container{
		.inner-container{
			width:50%;
		}
	}
}

@media (max-width:990px) {
	.search-container{
		.inner-container{
			width:60%;
		}
	}
}

@media (max-width:790px) {
	.search-container{
		.inner-container{
			width:80%;
		}
	}
}