.ticker-container{
	z-index:inherit;
	text-shadow:0 0 25px rgba(0,0,0,0.4);
	font-size:1.5em;
	font-weight:200;
	letter-spacing:1.5px;
	margin-top:-21px;
	min-height:21px;
	.ticker{
		transition: opacity 300ms;
	}
	&.focus{
		position:absolute;
		bottom:0px;
		right:10px;
		font-size:1em;
	}
}


@media (max-width: 600px) {
	.ticker-container{
		&.focus{
			display:none;
		}
	}
}