.search-container{
	.inner-container{
		.search-results{
			.downloads-results-container{
				>.title{
					font-size:18px;
					color:black;
					font-weight:400;
					width:100%;
					padding:10px;
				}
				.result{
					padding:10px;
					color:black;
					display:flex;
					flex-direction:row;
					cursor:pointer;
					.icon-holder{
						display:flex;
						align-items:center;
					}
					.details-holder{
						padding:10px;
						.title{
							font-size:14px;
						}
						.url{
							font-size:8px;
							color:#A3A3A3;
							white-space: nowrap;
    						overflow: hidden;
    						text-overflow: ellipsis;
    						width:100%;
						}
					}
				}
			}
		}
	}
}
