.wallpaper {
	z-index:0;
	width:110%;
	height:110%;
    background-color: black;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
	position:absolute;
	top:-50px;
	left:-50px;
	animation: fadein 700ms;
	display:none;
	.wallpaper-meta{
	    font-size: 14px;
	    opacity: 0.4;
	    font-weight: 200;
	    padding: 10px;
	    position: absolute;
	    bottom: 0px;
		text-shadow:0 0 25px rgba(0,0,0,0.4);
		a{
			text-decoration:none;
			color:inherit;
		}
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
