body{
	width:600px;
	height:600px;
}
.container{
	height:100%;
	overflow:scroll;
}
.panel{
	.title{
		h2{
			padding-bottom:5px;
			width:80%;
			border-bottom:1px solid #ccc;
		}
	}
	.content{
		padding:10px;
		label{
		    display: block;
			margin-bottom: 15px;
		}
	}
	.category{
		>.title{
			padding-bottom:10px;
		}
		>label{
			padding-left:20px;
		}
	}
}

.weather{
	#location{
		padding:5px;
	}
	.error{
		color:red;
	}
	#edit-weather{
		display:none;
	}
}

#custom-wallpaper-browse{
	display:none;
}