.statusbar{
	height:40px;
	z-index:1;
	position:absolute;
	top:0px;
	right:40px;
	padding:10px;
	box-sizing: border-box;
	border-radius:0 0 5px 5px;
	background: rgba(0,0,0,0.6);
	&.autohide{
		opacity:0;
		transition:opacity 400ms;
		transition-delay:400ms
	}
	&.autohide:hover{
		opacity:1;
		transition:opacity 400ms;
	}
	.icon-list{
		width:100%;
		height:100%;
		box-sizing:border-box;
		display:flex;
		justify-content:flex-end;
		align-items:center;
		font-size:22px;
		color:#FFF;
		.item{
			text-shadow:0 0 25px rgba(0,0,0,0.4);
			cursor:pointer;
			padding:5px;
		}
	}
}